.top {
    width:100%; 
    height: 3.5em; 
    background-color: #419C7E; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 0.5em; 
    padding-bottom:3em; 
    clear: both;
}

.bottom {
    width:70%; 
    height:auto; 
    display:flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 7em; 
    clear:both;
}

.bottomTwo {
    width:70%; 
    height:30em; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7em; 
    clear:both;
}

.menu {
    width:90%; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
}

nav {
    width:auto; 
    height: auto; 
    float: right; 
    margin-top: 1.4em;
}

li{ 
    list-style-type:none;
    margin-left: 1em; 
    margin-right: 1em; 
    float: left; 
    font-weight: normal; 
    color: white;
}

h1 {color: white; 
    text-align: left; 
    float: left; 
    font-weight:bold;
}

h2{
    font-size: 180%;
}

h3{
    margin-right: 3em;
}

p{ 
    margin-right: 3em; 
    font-size: 125%;
}

body {
    margin:0; 
    font-family: Open Sans;
}

a{
    text-decoration:none;
    color: white;
}

img {
    width:100%;
}

.one{ 
    width:50%; 
    height: auto; 
    margin-top: 6em; 
    
}

.two{ 
    width:45%; 
    height: auto; 
    margin-top: 6em; 
    
}

.two img {
    width:100%; 
    margin-top: 8%; 
    float: right;
}

.three {
    width:60%; 
    clear: both; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 2em; 
    margin-top: 5em; 
    clear: both;
}

.four {
    width:60%; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
}

#contactHeader{
    width:60%;
    margin-left: auto;
    margin-right: auto;
}

.label {
    width:60%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    font-size: 110%;
}

input{
    width:80%;
    box-sizing: border-box;
    border: none;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-size: 110%;
    padding: 0.5em;
    margin-top: 0.5em;
}

textarea {
    width:80%;
    height:8em;
    padding: 0.5em;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 130%;
    margin-top: 0.5em;
}

.button {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #419C7E; 
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    box-sizing: border-box;
    border: none;
    color: white;
    font-size: 100%;
    border-radius: 15px;
}

.back {
    color: black;
    text-align: center;
    font-size: 110%;
}

.back a {
    color: black;
}


@media (max-width:30em) { 


    .top {
        height: 10em;
    }

    .menu h1 {text-align: center;}


.bottom{
    flex-direction: column;
    width:100%;
}
.one {
    width:100%;
    margin-top: 0em;
    margin-bottom: 0;
}

p {
    font-size: 100%;
}

.two{
    width:100%;
}




}